:root {
  --primary-color: #23253A;
  --secondary-color: #F44620;
}


/* Global Styles */

@font-face {
  font-family:'Manrope';
  src: url('./fonts/manrope/manrope-medium.otf') format('opentype');
}

@font-face {
  font-family:'Manrope-light';
  src: url('./fonts/manrope/manrope-light.otf') format('opentype');
}

@font-face {
  font-family:'Manrope-bold';
  src: url('./fonts/manrope/manrope-bold.otf') format('opentype');
}

body {
  line-height: 1.6;
  color: #333;
  background-color: var(--primary-color);
  margin: 0px;
  height: auto;
  width: auto;
}

a,
p, 
label
{
  font-family:'Manrope';
}

h1,
h2,
h3 {
  font-family:'Manrope-light';
  text-decoration: none;
  color: white;
}

a,
p,
h1,
h2 {
  text-decoration: none;
  color: white;
}


.contact-button {
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border: solid 2px var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-button:hover {
  background-color: var(--primary-color);
  border: solid 2px var(--secondary-color);

}

.projects-button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: solid 2px var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.projects-button:hover {
  background-color: var(--secondary-color);
  border: solid 2px var(--primary-color);

}


/* Navbar Styles */

header {
  background-color: #23253a11;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px #F44620;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

header nav a:hover {
  color: #ccc;
}

#logo{
  width: 5%;
  height: 10%;
}
/* Responsive Navbar */

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header nav .contact-button {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-bottom: 10px;
  }

  header nav .contact-button {
    margin-top: 10px;
  }
}

/* Hero Section Sglobal style */

section {
  padding: 80px 180px !important;
}

/* Hero Section hero */

.hero {
  display: flex;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.hero-content {
  max-width: 50%;
}

.hero-image {
  width: 30%;
  border-radius: 10px;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.button-group {
  margin-top: 20px;
  gap: 20px;
}

.button {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* Portfolio Section Styles */

.portfolio {
  padding: 100px;
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.portfolio-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-nav a {
  margin-right: 20px;
}

.portfolio-nav a.active {
  color: var(--primary-color);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-info p {
  margin-bottom: 20px;
}

/* Section Portfolio */

.tab-container {
  width: 100%;
  margin: 20px auto;
  max-width: 1000px;
}

.tab-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-link {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-family:'Manrope-bold';
  display: inline-block;
  text-decoration: none;
}

.tab-link::after {
  position: relative;
  top: 4px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s;
}

.tab-link:hover::after,
.tab-link:focus::after {
  width: 100%;
  transition: width 0.3s;
}

.tab-content {
  display: none;
  padding: 20px;
  border-radius: 4px;
}


/* Services Section Services */

.services {
  padding: 100px;
  background-color: #201E1D;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.services-grid {
  display: flex;
  gap: 76px;
  justify-content: center;
  align-items: center;
}

.service-card {
  width: 360px;
  height: 360px;
  perspective: 1000px;
 border-radius: 30px;
}

.flip {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(.175, .885, .32, 1.275);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  padding:  30px 30px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-front, #card-1 {
  background-color: #F44620;
  transform: rotateY(0deg);
}
.card-front, #card-2 {
  background-color: #DF3331;
  transform: rotateY(0deg);
}

.card-front, #card-3 {
  background-color: #D70101;
  transform: rotateY(0deg);
}
.card-back {
  background-color: #444;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.service-card:hover .flip {
  transform: rotateY(180deg);
}

.service-card:hover .card-back {
  opacity: 1;
}

.service-card:hover .card-front {
  opacity: 0;
}



.service-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  margin-bottom: 20px;
}

/* Section "A propos" */
.freelance-life {
  background-color: #1a1a2e;
  padding: 50px 0;
  color: #fff;
}

.freelance-life .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.freelance-life h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.freelance-life .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freelance-life .image {
  flex: 1;
}

.freelance-life .image img {
  max-width: 100%;
  border-radius: 10px;
}

.freelance-life .text {
  flex: 2;
  margin-left: 40px;
}

.freelance-life .text h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.freelance-life .text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.freelance-life .btn {
  background-color: #f04545;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Section Contact */
.start-project {
 
  padding: 50px 0;
  color: #fff;
  position: relative;
}

.start-project::before {
  background-image: url("./picture/bg-contact.jpeg");
  filter: brightness(84%) saturate(0%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}

.start-project .container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.start-project h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.project-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: transparent;
  height: auto;
}

.contact-form, 
.contact-info {
  flex: 1; 
  min-height: 100%; 
}

.contact-form {
  background-color: var(--secondary-color);
  padding: 42px 84px;
  border-radius: 30px 0 0 30px;
  color: white;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #333; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.send-button {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.contact-info {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 42px 84px;
  border-radius: 0 30px 30px 0;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info strong {
  color: #F44620;
}


/* Footer */

.footer {
  background-color: #1c1e30; 
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20%;
}

.footer-column {
  text-align: start;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column p,
.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-icon {
  width: 40px; 
  height: auto;
}

.footer-column a img:hover {
  filter: invert(50%);
}
